{% spaceless %}
<header>
    <nav id="top_menu">
        <ul>
            <li><a href="#">Главная</a></li>

            <li>
                <a href="#">Организационная структура</a>
                <ul>
                    <li><a href="#">Подразделения</a></li>
                    <li><a href="#">Группы и лаборатории</a></li>
                    <li><a href="#">Должности</a></li>
                    <li><a href="#">Роли</a></li>
                    <li><a href="#">Сотрудники</a></li>
                    <li><a href="#">Составы групп и лабораторий</a></li>
                    <li><a href="#">Составы ролей</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Задачи</a>
                <ul>
                    <li><a href="#">Индивидуальные задачи</a></li>
                    <li><a href="#">Коллективные задачи</a></li>
                    <li><a href="#">Повторяющиеся задачи</a></li>
                    <li><a href="#">Состояния задач</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Процессы</a>
                <ul>
                    <li><a href="#">a1</a></li>
                    <li><a href="#">a2</a></li>
                    <li><a href="#">a3</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Руководство по эксплуатации</a>
                <ul>
                    <li><a href="#">b1</a></li>
                    <li><a href="#">b2</a></li>
                </ul>
            </li>
        </ul>
    </nav> 
</header>
{% endspaceless %}
